- Satistics : It is a branch of Mathematics where we deals with the collection of Data, analysing the data and draw the conclusion.
- Making sense of data is called as information.
- Raw things -----> Data
- Why Statistics is required ?
    - We have to draw the conclusion for the population.
- Sample is the representation of population.
- Population is a set with all possible values.
- Our theory depends on approximation.
    - Population parameters: when we have find something like mean, median-- in population.
    - Sample Statistics- statistics- population parameters.
 

- Sampling Techniques
    - Random Sampling : asked randomly
    - Stratified Sampling : Strata/group will be mutually exclusive and non-overlapping
    - Systematic Sampling : we will take out the every nth sample, n is the gap after we have to take the next sample.
    - Conveinence Sampling : Main role -----> Domain knowledge Experts 

- Statistics plays a major role in decision making.

- Types of Stats:
            - Descriptive : Summarising your data.(In Numeric/ how much, how many)
            - Inferential stats : we will find conclusion of population (Dealing with sampling)
                - Specific to general(fact/belief)
                - General to specific using hypothesis testing.
                - sample - population ---> CLT----> point estimation-----> confidence interval (CI)

## 1. Descriptive Stats:
        - Measures of central tendency.
                - Mean : Average
                - Median : First sort the data.
                - Mode : most frequent value.
                    - In right skew: mean > median > mode as mean is shifted to right side.
                    - In left skew : mode> median mean  as mean is shifted to left side.
        - Measures of Dispersion.
        - Measures of symmetry.
        - Measures of Peakness.

In [38]:
import numpy as np
from scipy import stats as st
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
l=[150,151,152,150,153,154,155,154]
np.mean(l)

152.375

In [3]:
np.median(l)

152.5

In [4]:
st.mode(l)

ModeResult(mode=array([150]), count=array([2]))

 Find out the average of petal length of each species in iris data

In [5]:
import seaborn as sns

In [6]:
df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
np.mean(df["petal_length"])

3.7580000000000027

In [8]:
df.groupby(["species"])["petal_length"].mean()

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [9]:
df.groupby(["species"])["petal_length"].median()

species
setosa        1.50
versicolor    4.35
virginica     5.55
Name: petal_length, dtype: float64

In [10]:
np.std(l)

1.79843682124227

In [11]:
np.var(l) ##always gives population mean

3.234375

In [12]:
range=max(l)-min(l)
range

5

- when will std be 0?
    - when all the data points are equal, no deviation from mean then std is 0

## Percentile

In [13]:
l=[2,2,3,4,5,5,5,6,7,8,8,8,8,8,9,9,10,10,11,12] ## mandatory data is sorted first

- find 25,20,30 percentile value?

Px=x(n+1)/100
- here, x is our percentile
- n=len(l)
- px gives the index

- 25 percentile

In [14]:
len(l)

20

In [15]:
25*(20+1)/100

5.25

- approx 5 index, means 25 percent of data is having less than 5 value

- 20 percentile

In [16]:
20*(20+1)/100

4.2

- 4 index value, means 20 percent of data is having less than 4 value

In [17]:
30*(20+1)/100

6.3

6 index value, means 30 percent of data is having less than 4 value

In [18]:
np.percentile(l,[20,25,30])

array([4.8, 5. , 5. ])

### Formula 2:
#### Percentile=(Number of values below "x"/Total no of values )* 100